body{
    background-color: #151b24;    
    /* color: #202a34;
    color: #909eab;
    color: #ffa82e;
    color: #f84b46; */
    
}
.MuiTypography-root ,.MuiButtonBase-root ,.MuiInput-root , .MuiFormLabel-root{
    font-family: 'Vazir', sans-serif !important
}
.MuiInputLabel-animated {
    transition: color 1000s cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important
}

.MuiInputBase-input{
    color: rgb(233, 233, 233) !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #ffa82e !important
}
.MuiInput-underline:before{
    border-bottom: 1px solid #909eab71 !important

}

.MuiInputBase-root {
    height: 37px !important;
}
.MuiSelect-icon{
    color: #909eab !important;
    top: 0 !important;
    position: relative !important;
    left: 0 !important
}

.spanLink{
    color: #ffa82e;
    cursor: pointer;
    text-decoration: none;
}
.spanLink:hover{
    text-decoration: underline;
}
.MuiPaper-root{
     background-color: #202a34 !important;
     border-radius: 7px !important;
     color: rgb(233, 233, 233) !important;
    }
.MuiFormHelperText-root{
    color: #f7f7f7 !important;
    font-family: 'Vazir', sans-serif !important

}